<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FBMatcherScreenshots</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>20/09/28 13:17:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:21:13</td>   <td>202760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:26:41</td>   <td>530051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:34:24</td>   <td>993712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:38:59</td>   <td>1268965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:41:31</td>   <td>1420537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:43:54</td>   <td>1563246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:46:51</td>   <td>1740723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:52:12</td>   <td>2061828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:55:31</td>   <td>2260401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:14:07</td>   <td>-223021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:18:32</td>   <td>41364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:21:45</td>   <td>234458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:28:13</td>   <td>622400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:35:15</td>   <td>1044586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:39:13</td>   <td>1282628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:41:39</td>   <td>1429023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:44:11</td>   <td>1580618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:47:06</td>   <td>1755948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:52:45</td>   <td>2094482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:14:04</td>   <td>-226610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:17:59</td>   <td>8498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:21:34</td>   <td>223305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:27:47</td>   <td>596720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:34:55</td>   <td>1024559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:39:05</td>   <td>1274697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:41:34</td>   <td>1423605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:44:01</td>   <td>1570912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:46:57</td>   <td>1746371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:52:27</td>   <td>2076518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
</table>
