<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FBMatcherScreenshots</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>20/09/28 13:14:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:14:07</td>   <td>3589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:17:50</td>   <td>226610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:17:59</td>   <td>235108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:18:32</td>   <td>267974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:21:13</td>   <td>429370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:21:34</td>   <td>449915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:21:45</td>   <td>461068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:26:41</td>   <td>756661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:27:47</td>   <td>823330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:28:13</td>   <td>849010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:34:24</td>   <td>1220322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:34:55</td>   <td>1251169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:35:15</td>   <td>1271196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:38:59</td>   <td>1495575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:39:05</td>   <td>1501307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:39:13</td>   <td>1509238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:41:31</td>   <td>1647147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:41:34</td>   <td>1650215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:41:39</td>   <td>1655633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:43:54</td>   <td>1789856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:44:01</td>   <td>1797522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:44:11</td>   <td>1807228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:46:51</td>   <td>1967333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:46:57</td>   <td>1972981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:47:06</td>   <td>1982558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:52:12</td>   <td>2288438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:52:27</td>   <td>2303128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherGuestFindGame.startSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:52:45</td>   <td>2321092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherGuestFindGame.findGame(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">findGame</td> 
  <td>main@911312317</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/09/28 13:55:31</td>   <td>2487011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherGuestFindGame.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherGuestFindGame@2173f6d9]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@911312317</td>   <td></td> </tr>
</table>
