<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9486">  <td>20/09/22 07:45:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FBMatcherExistingUserLogin.initialise()[pri:0, instance:com.fbMatcher.testCases.FBMatcherExistingUserLogin@7dc222ae]">&gt;&gt;initialise</td> 
<td>&nbsp;</td>  <td>main@477289012</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/09/22 07:45:46</td>   <td>1097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBMatcherExistingUserLogin.newUserSignUp(java.util.Hashtable)[pri:0, instance:com.fbMatcher.testCases.FBMatcherExistingUserLogin@7dc222ae]">newUserSignUp</td> 
  <td>main@477289012</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/09/22 07:46:31</td>   <td>46820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FBMatcherExistingUserLogin.closeSession()[pri:0, instance:com.fbMatcher.testCases.FBMatcherExistingUserLogin@7dc222ae]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@477289012</td>   <td></td> </tr>
</table>
